.custom-form {
  max-width: 400px; /* Adjust as needed for responsiveness */
  margin: 0 auto; /* Center the form */
}

.custom-form input,
.custom-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  color: Black; /* Purple color */
  font-family: "Roboto", sans-serif; /* Roboto font family */
}

.custom-form input:focus,
.custom-form textarea:focus {
  border-color: black; /* Change border color on focus */
}

.custom-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black; /* Purple color */
  color: #fff;
  font-family: "Roboto", sans-serif; /* Roboto font family */
  cursor: pointer;
}

.custom-form button:hover {
  background-color: #fff;
  color: black;
  border: black solid 2px; /* Darker shade of purple on hover */
}

@media only screen and (max-width: 550px) {
  .custom-form {
    max-width: 90%; /* Adjust as needed for responsiveness */
  }
}
