.title-projects {
  font-size: 32px;
  color: #000;
  text-transform: uppercase;
}

.pinpoint {
  text-align: center;
  margin-bottom: 100px;
  font-size: 32px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media only screen and (max-width: 741px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }
}

@media only screen and (max-width: 551px) {
  .title-projects {
    font-size: 24px;
  }

  .pinpoint {
    margin-bottom: 50px;
    font-size: 24px;
  }
}
